@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');




@media screen and (min-width: 320px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      list-style: none;
    }

    .tittleConteiner{
       width: 100%;
       height: 48px;
       background-color: black;
       display: flex;
       justify-content: center;
    }

    .tittle{
        background-color:#ed1d23;
        color: #fff;
        font-size: 45px;
        font-weight: bold;
        font-family: 'Bangers', system-ui;
        width: 200px;
        padding-left:  6px;
    }
    .hero{
        width: 100%;
        min-height: 400px;
        background-image: url('./assets/hero.jpg');
        background-size: cover;
        position: relative;
    }
    .hero::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .searchConteiner{
        width: 80%;
        height: 200px;
        background-color: #ed1d23;
        margin: 30px;
    }
    .tittleSearch{
        font-size: 1.5em;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: #151515;
        margin-bottom: 20px;
    }
    .inputSearch{
        margin-bottom: 20px;
    }
    .buttonSearch{
        background-color: #151515;
        color: #fff;
        margin: 20px;
        padding: 10px;
        display: inline-block;
        justify-content: flex-end;
        }
    
        .footer{
            background-color: #151515;
            color: #fff;
           
            
        }

        .footertittle{
            display: inline-block;
            align-items: center;
        }

        .column{
            display: grid;
            grid-template-columns: 200px 200px 200px 200px 200px;
      
        }

        .ocultoComics{
            display: none;
        }  
        .ocultoCharacters{
            display: none;
        } 
        
}

@media screen and (min-width: 768px) {
    .tittleSearch{
        font-size: 1.7em;
        font-weight:bolder;
        font-family: 'Roboto', sans-serif;
        color: #151515;
        margin-bottom: 20px;
    }

}