@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
main {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    z-index: 9999; /* Asegura que el loader esté sobre todo */
    display: none; /* Ocultar inicialmente */
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #222f38;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .tittleConteiner {
    width: 100%;
    height: 48px;
    background-color: black;
    display: flex;
    justify-content: center;
  }

  .tittle {
    background-color: #ed1d23;
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    font-family: "Bangers", system-ui;
    width: 200px;
    padding-left: 6px;
  }
  .hero {
    width: 100%;
    min-height: 400px;
    background-image: url("./assets/hero.jpg");
    background-size: cover;
    position: relative;
  }
  .hero::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .searchConteiner {
    width: 100%;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #ed1d23;
  }
  .tittleSearch {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #151515;
    margin-bottom: 20px;
  }
  .inputSearch {
    margin-bottom: 20px;
    width: 90%;
  }
  .button {
    display: flex;
    justify-content: flex-end;
  }
  .buttonSearch {
    background-color: #151515;
    color: #fff;
    width: 40%;
    margin: 5% 0;
    padding: 2%;
  }

  .totalResults {
    margin-left: 20px;
  }

  .resultTittle {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-left: 20px;
  }
  .footer {
    background-color: #151515;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .pagination {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .buttonPage {
    color: #fff;
    background-color: #151515;
    height: 30px;
    width: 30px;
    font-size: 20px;
  }
  .column {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 20px;
  }

  .comics-cards {
    margin: 0 auto;
  }

  .ocultoComics {
    display: none;
  }
  .ocultoCharacters {
    display: none;
  }
  .selectTipo {
    width: 30%;
  }
  .selectOrden {
    width: 20%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  main {
    width: 90%;
    margin: 0 auto;
  }
  .searchConteiner {
    width: 100%;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
  }
  .loader {
    left: 40%;
  }
  .column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }

  .tittleSearch {
    font-size: 1.7em;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    color: #151515;
    margin-bottom: 20px;
  }

  .ocultoComics {
    display: none;
  }
  .ocultoCharacters {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .tittleSearch {
    font-size: 1.7em;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
    color: #151515;
    margin-bottom: 20px;
  }
  .column {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    justify-content: center;
  }

  .ocultoComics {
    display: none;
  }
  .ocultoCharacters {
    display: none;
  }

  .detail-comic {
    display: flex;
    width: 100%;
    gap: 30px;
  }

  .img-container {
    width: 400px;
    height: auto;
  }
  .img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .loader {
    top: 50%;
    left: 45%;
  }
}
